@use 'varablies';
$light-green:#AAD922;
$primary-green:#32936F;
$black:#231F20;

.header{
    width:100%;
    margin:0px;
    background-color: $primary-green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body{
    margin:0px;
}

