@use '_var';

@mixin text($fontcolor: #fff, $fontsize:25px){
    color:$fontcolor;
    font-size:$fontsize;
    text-decoration: none;

}

@mixin speed($speed:1s){    
    transition:$speed;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{

    width:100%;
    background-color: var.$primary-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}
.left{
    padding:var.$pat;
    padding-left:30px;
}
.right{
    a{
        @include text();
        padding:var.$pat;
        transition:1s;
        padding-right:30px;

    }
    a:hover{
        color:var.$light-blue;
        @include speed();
    }
}

body{
    margin:0;
    background-color:var.$secondary-black;
    
}

.fit{
    display: block;
    margin:0 auto;
    transition:0.3s;
    object-fit:cover;
    border-radius: 50%;
    
}


.middle{
    display:flex;
    flex-direction: column ;
    justify-content: center;
    align-items:center;
    text-align: center;
    @include text();
    padding-bottom: 200px;
    position: relative;
    top: 100px;
    

    .big{
        padding-top:10px;
        @include text(#fff,40px)
    }
}


.quote{
    background-color: var.$light-blue;
    color:#fff;
    @include text();
    padding:var.$pat;
    margin-top:var.$pat;
    margin-top:var.$pat;
    text-align:center;
    @extend .filter;
    flex-direction: column;
    
    
    i{
        @include text(var.$primary-white ,var.$pat);
    }
}

.section{
    display: flex;
    margin-bottom:50px;
    margin-top:50px;

}
.tittle{
    padding-left: 5%;
    padding-right:5%;
    position:relative;
    
    width:45%;
    @include text();
    .center{
        @include text(var.$light-blue, 40px);
        text-align: center;
    }

}

.tittle1{
    position:relative;
    padding-top:80px;
    width:100%;
    @include text();
    padding-top:50px;
    .center{
        @include text(var.$light-blue, 40px);
        text-align:center;
    }
    
}
.tittle2{
    padding-left: 5%;
    padding-right:5%;
    position:relative;
    padding-top:80px;
    width:90%;
    @include text();
    .center{
        @include text(var.$light-blue, 40px);
        text-align: center;
    }

}

ul.nodot{
    
    list-style-type:none;
}
ul{
    li{
        padding-bottom:10px;
    }
}

.links{
    @include text();
    :hover{
        @include speed();
        @include text(var.$light-blue);
        cursor: pointer;
    }
}

.pics{
    margin-top:10px;
    border: 6px solid var.$light-blue;
    object-fit: cover;
    opacity: .4;
    transition: 1s;
    
    
}
.pics:hover{
    opacity: 1.0;
    @include speed();
}

.project{
    display: flex;
    justify-content: space-around;
}